@charset "utf-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.container {
    overflow-x: hidden;
    background-color: #FAFAFA;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 52px;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;
    background: white;
}

.main-nav-links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.main-nav-links .product-name {
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.section-content {
    position: relative;
    display: flex;
    top: 52px;
    padding-top: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.section-left {
    margin: 0 auto;
}

.section-right {
    display: none;
}

.section-center {
    margin-bottom: 24px;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 3px;
}

.board-create-section {
    width: 100%;
    display: flex;
    padding: 16px 16px;
}

.board-create-area {
    width: 100%;
    margin-left: 16px;
    display: block;
}

.board-create-title {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.board-create-title input:focus {
    border: 1px solid #ddd;
}

.board-create-content {
    width: 100%;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.board-create-content textarea:focus {
    border: 1px solid #ddd;
}

.board-create-btn {
    padding: 0;
    display: flex;
    color: #00BFFF;
    margin-left: auto;
    border: 0;
    outline: 0;
}

.board-create-btn button:focus {
    border: 0;
    outline: 0;
}

.board-not-content {
    font-size: 2rem;
    color: #ddd;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 16px;
}

.board-content {
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 60px;
    background-color: white;
}

.board-content-title {
    width: 100%;
}

.board-content-title-field {
    display: flex;
    padding: 16px;
    font-size: 1.5rem;
}

.board-update-title-field {
    width: 100%;
    border: 1px solid #ddd;
    display: none;
}

.board-update-title-input {
    font-weight: bold;
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    border: 0;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    letter-spacing: -0.55px;
}

.board-title-strong {
    font-weight: bold;
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 1px;
}

.board-update-content-input {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    padding: 0;
    border: 0;
    letter-spacing: -0.2px;
    resize: none;
    overflow: visible;
}

.board-content-strong {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 1px;
}

.board-update-content-field {
    display: none;
    border: 1px solid #ddd;
}

.board-update-content-btn-field {
    display: none;
}

.board-update-content-btn {
    padding: 0;
    display: flex;
    color: #00BFFF;
    margin-left: auto;
    border: 0;
    outline: 0;
}

.board-update-content-btn button:focus {
    border: 0;
    outline: 0;
}

.circle-option {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.board-content-img {
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.board-content-time-field {
    padding: 0 16px 10px 16px;
}

.board-content-time {
    display: flex;
    font-size: 0.5rem;
    color: #BDBDBD
}

.board-img {
    width: 100%;
    height: auto;
}

.board-content-content {
    padding: 16px;
}

.section-right {
    width: 320px;
}

.section-right-content {
    position: fixed;
    width: 320px;
}

.user-list {
    margin-bottom: 12px;
}

.my-profile-field {
    display: flex;
    align-items: center;
    margin: 18px 0 10px 0;
}

.my-profile {
    border-radius: 27px;
    border: 1px solid #ddd;
}

.my-nickname {
    color: #1C1C1C;
}

.my-name {
    color: #848484;
}

.my-info {
    margin-right: auto;
    margin-left: 12px;
}

.user-profile-field {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.user-profile {
    border-radius: 16px;
    border: 1px solid #ddd;
}

.user-info {
    margin-right: auto;
    margin-left: 12px;
}

.user-nickname {
    color: #1C1C1C;
}

.user-description {
    color: #848484;
}

.my-link a:link, .user-link a:link,
.my-link a:visited, .user-link a:visited{
    color: #00BFFF;
}

.user-recommend-content {
    display: flex;
    margin: 12px 0 0 0;
    padding: 4px 0;
}

.user_recommend-title {
    margin-right: auto;
    color: #848484;
}

.page-info {
    color: #ddd;
}

#modal {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 14;
}

#modal #modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 13;
    display: flex;
}

.modal-content {
    top: 50%;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    z-index: 15;
    border-radius: 30px;
}

.board-update-btn-field {
    width: 100%;
    height: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 1px solid #ddd;
    color: red;
    display: flex;
    align-items: center;
    text-align: center;
}

.board-delete-btn-field {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
    color: red;
    display: flex;
    align-items: center;
}

.modal-cancel-field {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

.modal-btn-field-text {
    margin: 0 auto;
}

.circle-option {
    padding-left: 15px;
}

#modal-confirm {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 14;
}

#modal-confirm #modal-confirm-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 13;
    display: flex;
}

.modal-confirm-content {
    top: 50%;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    z-index: 15;
    border-radius: 15px;
    border-bottom: 1px solid #ddd;
}

.modal-confirm-text-field {
    display: flex;
    align-items: center;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #ddd;
}

.modal-confirm-text {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.modal-confirm-btn-field {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.modal-confirm-y-field {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-right: 1px solid #ddd;
}

.modal-confirm-y {
    width: 100%;
    text-align: center;
    color: red;
}

.modal-confirm-n-field {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom-right-radius: 15px;
}

.modal-confirm-n {
    width: 100%;
    text-align: center;
}

@media (min-width: 1024px) {
    .section-center {
        width: 650px;
        height: auto;
    }

    .section-left {
        margin: 0 auto 0 0;
    }

    .section-right {
        display: block;
    }

    .board-img {
        width: 650px;
        height: auto;
    }

    .modal-content {
        width: 300px;
        height: 150px;
    }
}